JAVA_HOME='{{ java_home }}'
JAVA_OPTS='-Xms2048m -Xmx2048m -XX:MaxPermSize=1024m -Djava.awt.headless=true -Djava.net.preferIPv4Stack=true'
JAVA_OPTIONS='-Xmx512M'
PATH="$PATH:$JAVA_HOME/bin"
export JAVA_HOME
export JAVA_OPTS
export JAVA_OPTIONS
export PATH